<!DOCTYPE html>
<html>
    <head>
        {% if story_id %}
        <title>Super Sprinter 3000 - Edit Story</title>
        {% else %}
        <title>Super Sprinter 3000 - Add new Story</title>
        {% endif %}
    </head>
    <body>
        {% if story_id %}
        <h2>User Story Manager - Edit Story</h2>
        {% else %}
        <h2>User Story Manager - Add new Story</h2>
        {% endif %}
        <form method=POST>
            <p>Story Title<br />
                <textarea type='text' rows='1' cols='20' name='story_title'>{{ story[1] if story else "a" }}</textarea></p>
            <p>User Story<br />
                <textarea type='text' rows='3' cols='20' name='user_story'>{{ story[2] if story else "a" }}</textarea></p>
            <p>Acceptance criteria<br />
                <textarea type='text' rows='3' cols='20' name='acceptance_criteria'>{{ story[3] if story else "a" }}</textarea></p>
            <p>Business Value<br />
                <input type='number' min='100' max='1500' step='100' name='business_value' value='{{ story[4] if story else 100 }}'></p>
            <p>Estimation (h)<br />
                <input type='number' min='0.5' max='40' step='0.5' name='estimation_time' value='{{ story[5] if story else 0.5 }}'></p>
            <p>Status<br />
                <select name='status'>
                    <option value='Planning' {{ 'selected' if story[6] == 'Planning' else '' }}>Planning</option>
                    <option value='TODO' {{ 'selected' if story[6] == 'TODO' else '' }}>TODO</option>
                    <option value='In progress' { 'selected' if story[6] == 'In progress' else '' }}>In Progress</option>
                    <option value='Review' {{ 'selected' if story[6] == 'Review' else '' }}>Review</option>
                    <option value='Done' {{ 'selected' if story[6] == 'Done' else '' }}>Done</option>
                </select></p>
            <p><input type='submit' value='{{ "  Update  " if story else "  Create  " }}'></p>
        </form>
        <button><a href='/list'>Back</a></button>
    </body>
</html>